<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>
    <body>
        {% block content %}
            
            <h1 style="color:red"</h1>Honours list</h1>

            <br /> <br />

            <!-- League title honours -->
            <div class="row align-items-center" style="background-color:mistyrose">
                <div class="col-md-2">
                    <h3>League titles</h3>
                </div>
                <div class="col-md-2">
                    <h4>19</h4>
                </div>
        
                <div class="col-md-2">
                    <br />
                    <ul>
                        <li>1900-01</li>
                        <li>1905-06</li>
                        <li>1921-22</li>
                        <li>1922-23</li>
                        <li>1946-47</li>
                        <li>1963-64</li>
                        <li>1965-66</li>
                        <li>1972-73</li>
                        <li>1975-76</li>
                        <li>1976-77</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <br />
                    <ul>
                        <li>1978-79</li>
                        <li>1979-80</li>
                        <li>1981-82</li>
                        <li>1982-83</li>
                        <li>1983-84</li>
                        <li>1985-86</li>
                        <li>1987-88</li>
                        <li>1989-90</li>
                        <li>2019-20</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/premierleague.jpg' %}"
                    alt = "Premier League trophy" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- FA Cup honours -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <h3>FA Cups</h3>
                </div>
                <div class="col-md-2">
                    <h4>8</h4>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>1964-65</li>
                        <li>1973-74</li>
                        <li>1985-86</li>
                        <li>1988-89</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>1991-92</li>
                        <li>2000-01</li>
                        <li>2005-06</li>
                        <li>2021-22</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/facup.jpg' %}"
                    alt = "FA Cup trophy" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- League Cup honours -->
            <div class="row align-items-center" style="background-color:mistyrose">
                <div class="col-md-2">
                    <h3>League Cups</h3>
                </div>
                <div class="col-md-2">
                    <h4>9</h4>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>1980-81</li>
                        <li>1981-82</li>
                        <li>1982-83</li>
                        <li>1983-84</li>
                        <li>1994-95</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>2000-01</li>
                        <li>2002-03</li>
                        <li>2011-12</li>
                        <li>2021-22</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/leaguecup.jpg' %}"
                    alt = "League Cup trophy" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- Community Shield honours -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <h3>FA Community Shields</h3>
                </div>
                <div class="col-md-2">
                    <h4>16</h4>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>1964 (shared)</li>
                        <li>1965 (shared)</li>
                        <li>1966</li>
                        <li>1974</li>
                        <li>1976</li>
                        <li>1977 (shared)</li>
                        <li>1979</li>
                        <li>1980</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>1982</li>
                        <li>1986 (shared)</li>
                        <li>1988</li>
                        <li>1989</li>
                        <li>1990 (shared)</li>
                        <li>2001</li>
                        <li>2006</li>
                        <li>2022</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/communityshield.jpeg' %}"
                    alt = "Community Shield" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- European Cup honours -->
            <div class="row align-items-center" style="background-color:mistyrose">
                <div class="col-md-2">
                    <h3>European Cups</h3>
                </div>
                <div class="col-md-2">
                    <h4>6</h4>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>1976-77</li>
                        <li>1977-78</li>
                        <li>1980-81</li>
                        <li>1983-84</li>
                        <li>2004-05</li>
                        <li>2018-19</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/championsleague.jpg' %}"
                    alt = "Champions League trophy" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- UEFA Cup honours -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <h3>UEFA Cups</h3>
                </div>
                <div class="col-md-2">
                    <h4>3</h4>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>1972-73</li>
                        <li>1975-76</li>
                        <li>2000-01</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/uefacup.jpg' %}"
                    alt = "UEFA Cup trophy" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- UEFA Super Cup honours -->
            <div class="row align-items-center" style="background-color:mistyrose">
                <div class="col-md-2">
                    <h3>UEFA Super Cups</h3>
                </div>
                <div class="col-md-2">
                    <h4>4</h4>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>1977</li>
                        <li>2001</li>
                        <li>2005</li>
                        <li>2019</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/supercup.jpg' %}"
                    alt = "European Super Cup trophy" 
                    class = img />
                    <br />
                </div>
            </div>

            <br />

            <!-- FIFA Club World Cup honours -->
            <div class="row align-items-center">
                <div class="col-md-2">
                    <h3>FIFA Club World Cups</h3>
                </div>
                <div class="col-md-2">
                    <h4>1</h4>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>2019</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <img 
                    src = "{% static 'assets/clubworldcup.jpeg' %}"
                    alt = "FIFA Club World Cup trophy" 
                    class = img />
                    <br />
                </div>
            </div>
        {% endblock %}
    </body>
</html>